<% title @stock.name + ' - analisi tecnica personale | Press release' %>
<% meta_tag :description, 'Analisi trading per il titolo' +  @stock.name + 'del mercato italiano' %>
<% meta_tag :keywords, @stock.name + ', analisi, tecnica, Borsa, Italiana, Milano, Finanza' %>
<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>

<div class="container body">
    <div class="main_container">
        <%= render("shared/left_col") %>
        <%= render("shared/top_nav") %>
        <div class="right_col" role="main">
            <%= render("shared/namePriceVariation") %>
            <%= render("last_study") %>
            <%= render("add_study") %>
        </div>
        <%= render("shared/footer") %>
    </div>
</div>
