<% title @stock.name + ' - analisi tecnica personale | Press release' %>
<% meta_tag :description, 'Analisi trading per il titolo' +  @stock.name + 'del mercato italiano' %>
<% meta_tag :keywords, @stock.name + ', analisi, tecnica, Borsa, Italiana, Milano, Finanza' %>


<main id="main">
	<div id="content" class="container">	    	
		<div class="row">
			<div class="breadcrumbs col-sm-12">
				<i class="fa fa-chevron-left" aria-hidden="true"></i><a href="<%= '/analisi_tecnica_titolo/' + @stock.name.downcase.gsub("-", "_").parameterize('_') + '?isin=' +  @stock.isin %>" title="<%= 'Analisi tecnica e rassegna stampa in tempo reale del titolo: ' + @stock.name %>">Torna alla rassegna stampa di <%= @stock.name %></a>					    
			</div>
		</div>
		
        <div class="row">
            <section id="primary" class="col-sm-12">	                
                <%= render("shared/namePriceVariation") %>
	            <%= render("shared/last_study") %>
	            <%= render("add_study") %>                
            </section>
        </div>
	</div>
</main>
