<% title $appDescription %>
<% meta_tag :description, 'Trading Radar - Login page. Effettua il login per accedere alle funzionalità aggiuntive' %>
<% meta_tag :keywords, 'trading, radar, login' %>
<% meta_tag :canonical, request.base_url + '/' + 'login' %>
<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>


<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <div class="form form-style-8">
                    <h1>Log in</h1>
                    <% if  params[:error] %>
                    <div class="error">
                        Email o password sbagliati. Riprova per favore.
                    </div>
                    <% end %>
                    <%= form_for(:session, url: login_path) do |f| %>
                    <%= f.email_field :email, :placeholder => "Email", :required => "true" %>
                    <%= f.password_field :password, :placeholder => "Password", :required => "true" %>
                    <%= f.submit "Log in", class: "btn primary" %>
                    <% end %>
                    <div>
                        Non sei registrato? <%= link_to "Sign up", signup_path %>.
                    </div>
                </div>
            </section>
        </div>
	</div>
</main>