<div class="row section">
    <div class="col-md-12 col-sm-12 col-xs-12" id="la-repubblica">
        <div class="x_panel">
            <div class="pr-title">
				<%= image_tag 'la-repubblica-logo.png', class: 'img-logo', alt: 'Logo La Repubblica', title: 'La Repubblica' %>
			</div>
			<% if @urlLaRepubblica %>
	            <div>
	                Source: <a href="<%= @urlLaRepubblica %>">La Repubblica</a>
	            </div>
            <% else %>
            	Missing source data, only DB data will be displayed. 
			<% end %>
			
			<% if @analisis %>
            <table class="tablesorter nojs">
                <thead>
                    <tr>
                        <th class="repubblica">
                            Support
                        </th>
                        <th class="repubblica">
                            Resistance
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= @analisis.repubblica_support %>
                        </td>
                        <td>
                            <%= @analisis.repubblica_resistance %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <% else %>
            Missing analysis data.<% end %>
            <div class="col-md-12 col-sm-12 col-xs-12 pr-section larepubblica">
                <div class="pr-content">
                    <%= @laRepubblicaElem1.to_s.html_safe %>
                </div>
                <div class="clear">
                </div>
                <div class="pr-content">
                    <%= @laRepubblicaElem3.to_s.html_safe %>
                </div>
                <div class="pr-content">
                    <%= @laRepubblicaElem4.to_s.html_safe %>
                </div>
            </div>
            <a href="#main-wrapper" data-turbolinks="false" class="back-on-top" title="Back on top"><i class="fa fa-chevron-up"></i>Back on top</a>
        </div>
    </div>
</div>
