<div class="row section">
    <div class="col-md-12 col-sm-12 col-xs-12" id="soldi-on-line">
        <div class="x_panel">
            <div class="pr-title">
				<%= image_tag 'soldi-on-line-logo-big.png', class: 'img-logo', alt: 'Logo Soldi On Line', title: 'Analisi titolo trading da Soldi On Line' %>
			</div>
			<% if @urlSoldiOnLine %>
            <div>
                Source: <a href="<%= @urlSoldiOnLine %>" title="Vai alla analisi titolo su Soldi On Line">Soldi On Line</a>
            </div>
            <% else %>
            Missing source data, only DB data will be displayed. <% end %>
            <div class="col-md-12 col-sm-12 col-xs-12 pr-section soldionline">
                <div class="pr-content">
                    <%= @docSoldiOnLineElem1.to_s.html_safe %>
                    <%= @docSoldiOnLineElem2.to_s.html_safe %>
                    <div class="clear">
                    </div>
                </div>
                <div class="pr-content second">
                    <%= @docSoldiOnLineElem3.to_s.html_safe %>
                </div>
                <div class="pr-content third">
                    <h3>Raccomandazioni degli analisti</h3>
                    <%= @docSoldiOnLineElem4.to_s.html_safe %>
                    <%= @docSoldiOnLineElem5.to_s.html_safe %>
                </div>
            </div>
            <a href="#main-wrapper" data-turbolinks="false" class="back-on-top" title="Torna in alto"><i class="fa fa-chevron-up"></i>Torna in alto</a>
        </div>
    </div>
</div>
