<div class="row section">
    <div class="col-md-12 col-sm-12 col-xs-12" id="il-sole-24-ore">
        <div class="x_panel">
            <div class="pr-title">
				<%= image_tag 'il-sole-24-ore-logo.png', class: 'img-logo', alt: 'Logo Il Sole 24 Ore', title: 'Il Sole 24 Ore' %>
			</div>
			<% if @urlSole24Ore %>
            <div>
                Dati da: <a href="<%= @urlSole24Ore %>">Sole 24 Ore</a>
            </div>
            <% else %>
            Missing source data, only DB data will be displayed. <% end %>
            <% if @analisis %>
            <table class="tablesorter nojs">
                <thead>
                    <tr>
                        <th class="sole-24-ore">
                            Support
                        </th>
                        <th class="sole-24-ore">
                            Resistance
                        </th>
                        <th class="sole-24-ore">
                            Short trend
                        </th>
                        <th class="sole-24-ore">
                            FTA
                        </th>
                        <th class="sole-24-ore">
                            RSI
                        </th>
                        <th class="sole-24-ore">
                            RSI Divergence
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= @analisis.xxivore_support %>
                        </td>
                        <td>
                            <%= @analisis.xxivore_resistance %>
                        </td>
                        <td>
                            <%= @analisis.xxivore_shorttrend %>
                        </td>
                        <td>
                            <%= @analisis.xxivore_ftaindex %>
                        </td>
                        <td>
                            <%= @analisis.xxivore_rsi %>
                        </td>
                        <td>
                            <%= @analisis.xxivore_rsidiv %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <% else %>
            Missing analysis data.<% end %>
            <div class="col-md-12 col-sm-12 col-xs-12 pr-section sole-24-ore">
                <div class="pr-content">
                    <h3>Anagrafica</h3>
                    <%= @sole24OreElem1.to_s.html_safe %>
                </div>
                <div class="pr-content">
                    <h3>Indici borsistici e redditivit&agrave;</h3>
                    <%= @sole24OreElem2.to_s.html_safe %>
                </div>
                <div class="pr-content">
                    <h3>Sintesi bilancio</h3>
                    <%= @sole24OreElem3.to_s.html_safe %>
                </div>
                <div class="pr-content">
                    <h3>Sintesi analisi tecnica</h3>
                    <%= @sole24OreElem4.to_s.html_safe %>
                </div>
            </div>
            <a href="#main-wrapper" data-turbolinks="false" class="back-on-top" title="Back on top"><i class="fa fa-chevron-up"></i>Back on top</a>
        </div>
    </div>
</div>
