<% title @stock.name + ' | Press release'  %>
<% meta_tag :description, '' %>
<% meta_tag :keywords, '' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>

<div class="container body">
    <div class="main_container">
        <%= render("shared/left_col") %>
        <%= render("shared/top_nav") %>
        <div class="right_col" role="main">
        	
            <%= render("shared/namePriceVariation") %>
			
            <div class="row section">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="return">
                        <i class="fa fa-angle-left"></i>&nbsp;<%= link_to "Return home", root_path %>
                    </div>
                </div>
            </div>
			
            <div class="row section anchors">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <%= render("anchors") %>
                    </div>
                </div>
            </div>
			
            <div class="row section">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <h2>Chart image</h2>
                        <div class="chart-image">
                            <img src="<%= @urlchartImage %>" title="<%= @stock.name %> chart image" alt="<%= @stock.name %> chart image" />
                        </div>
                    </div>
                </div>
            </div>
			
			<%if $user.present? %>
            	<%= render("last_study") %>
            <%end %>
			
            <div class="row section press-release">
                <div class="col-md-12 col-sm-12 col-xs-12 ext-source" id="borsa-italiana">
                    <div class="x_panel">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ext-source" id="il-sole-24-ore">
                    <div class="x_panel">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ext-source" id="la-repubblica">
                    <div class="x_panel">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ext-source" id="investing">
                    <div class="x_panel">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ext-source" id="milano-finanza">
                    <div class="x_panel">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ext-source" id="soldi-on-line">
                    <div class="x_panel">
                    </div>
                </div>
            </div>
        </div>
        <%= render("shared/footer") %>
    </div>
