<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <p id="notice">
                    <%= notice %>
                </p>
                <p>
                    <strong>Isin:</strong>
                    <%= @url.isin %>
                </p>
                <p>
                    <strong>Url1:</strong>
                    <%= @url.url1 %>
                </p>
                <p>
                    <strong>Url2:</strong>
                    <%= @url.url2 %>
                </p>
                <p>
                    <strong>Url3:</strong>
                    <%= @url.url3 %>
                </p>
                <p>
                    <strong>Url4:</strong>
                    <%= @url.url4 %>
                </p>
                <p>
                    <strong>Url5:</strong>
                    <%= @url.url5 %>
                </p>
                <p>
                    <strong>Url6:</strong>
                    <%= @url.url6 %>
                </p>
                <p>
                    <strong>Url7:</strong>
                    <%= @url.url7 %>
                </p>
                <p>
                    <strong>Url8:</strong>
                    <%= @url.url8 %>
                </p>
                <p>
                    <strong>Url9:</strong>
                    <%= @url.url9 %>
                </p>
                <p>
                    <strong>Url10:</strong>
                    <%= @url.url10 %>
                </p>
                <%= link_to 'Edit', edit_url_path(@url) %> |<%= link_to 'Back', urls_path %>
            </section>
        </div>
    </div>
</main>
