<div class="container body">
    <div class="main_container">
    	<%= render("shared/top_nav") %>
        <div class="right_col" role="main">
            <div class="login">
                <div class="container">
                    <div class="form">
                        <h1>Sign up</h1>
                        <%= form_for(@user) do |f| %>
                        <%= f.text_field :first_name, :placeholder => "First name", :required => "true" %>
                        <%= f.text_field :last_name, :placeholder => "Last name", :required => "true" %>
                        <%= f.email_field :email, :placeholder => "Email", :required => "true" %>
                        <%= f.password_field :password, :placeholder => "Password", :required => "true" %>
                        <%= f.submit "Create an account", class: "btn primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <%= render("shared/footer") %>
        </div>
    </div>
</div>
