<% title $appDescription %>
<% meta_tag :description, 'Trading Radar - Sign up page' %>
<% meta_tag :keywords, 'trading, radar, sign, up' %>
<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>


<main id="main" class="site-main" role="main">
	<div id="content" class="site-content container">
	    <div class="container main-content-area">
	        <div class="row pull-left">
	            <section id="primary" class="widget-area col-sm-12 col-md-12" role="complementary">	                
                    <div class="form form-style-8">
                        <h1>Sign up</h1>
                        <%= form_for(@user) do |f| %>
                        <%= f.text_field :first_name, :placeholder => "Nome", :required => "true" %>
                        <%= f.text_field :last_name, :placeholder => "Cognome", :required => "true" %>
                        <%= f.email_field :email, :placeholder => "Email", :required => "true" %>
                        <%= f.password_field :password, :placeholder => "Password", :required => "true" %>
                        <%= f.submit "Crea un account", class: "btn primary" %>
                        <% end %>
                    </div>	                
	            </section>
	        </div>
	    </div>
	</div>
</main>