<footer id="footer-area">
    <div class="container">
        <div class="footer-widget-area">
        	
            <div class="col-sm-6 col-md-4 footer-widget">
                <div id="nav_menu-2" class="widget widget_nav_menu">
                    <h3 class="widgettitle">Altri link</h3>
                    <div class="menu-short-container">
                        <ul id="menu-short" class="menu">
                            <li class="menu-item">
								<%= link_to 'Cos\'è Trading Radar', chi_siamo_index_path, title: 'Cos\'è Trading Radar' %>
                            </li>
                            <li class="menu-item">
                                <%= link_to 'Contatti', contatti_path, title: 'Pagina contatti' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			
            <div class="col-sm-6 col-md-4 footer-widget">
                <div id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <p>
                            <%= image_tag 'trading-radar-logo-small-alpha.png', alt: $appName + ' logo' %>
                        </p>
                        <h3>
                        	<%= $appName %>
							<small>Ver. <%= $appVersion%></small>
                        </h3>
						
                        <p>
                            <%= $appDescription %>
                        </p>
                        <p>
                            Per commenti e suggerimento <strong><%=mail_to "marco@tradingradar.net", "contatta"%></strong> l&apos;amministratore del sito.
                        </p>
                    </div>
                </div>
            </div>
			
            <div class="col-sm-12 col-md-4 footer-widget">
                <div class="site-info">
                    <div class="copyright">
                        Template base on <a href="https://colorlib.com/dazzling/" title="Dazzling Demo">Dazzling Demo</a>
                        Theme by <a href="https://colorlib.com/wp/" target="_blank">Colorlib</a>
                        <div>
                            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                        </div>
                        <div>
                            Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                        </div>
                    </div>
                </div>
            </div>
			
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="fa fa-angle-up"></i>
    </div>
</footer>
