<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <!--<div class="profile_pic">
				<image_tag 'abstract-user-flat.png', class: 'img-circle profile_img', alt: 'Profile image' >
            </div>-->
			
			
				<div class="profile_info">
	                <div>Benvenuto,</div>
	                <div class="username"><%= $user.present? ? $user.first_name : 'utente' %></div>
	            </div>	        
            
        </div>
        <!-- /menu profile quick info -->
		
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
            	
				<div class="date">
					<i class="fa fa-calendar"></i><%=DateTime.now.strftime("%A")%>,<br/>						
					<span><%= DateTime.now.strftime("%d/%m/%Y %H:%M") %></span>
				</div>
				
				<ul class="nav side-menu">
					<% if $user.present? %>
						<li>
							<span><i class="fa fa-sign-out"></i><%= link_to 'Log out', logout_url, :method => :delete %></span>
						</li>						
					<%else%>
						<li>
							<span><i class="fa fa-user"></i><%= link_to 'Log in', login_url %></span>
						</li>
						<li>
							<span><i class="fa fa-sign-in"></i><%= link_to 'Sign in', signup_url %></span>
						</li>
					<%end%>
				</ul>

				<%if $isAdmin %>
	                <ul class="nav side-menu">
	                    <li>
	                    	<span><i class="fa fa-link"></i><%= link_to "Url", :controller => "urls", :action => "index" %></span>
						</li>
						
						<li>
	                    	<span><i class="fa fa-line-chart"></i><%= link_to "Stock", :controller => "stocks", :action => "index" %></span>
						</li>
						
						<li>
	                    	<span><i class="fa fa-flask"></i><%= link_to "Analisi", :controller => "analyses", :action => "index" %></span>
						</li>
						
						<li>
	                    	<span><i class="fa fa-gears"></i><%= link_to "Studi", :controller => "studies", :action => "index" %></span>
						</li>
						
						<li>
	                    	<span><i class="fa fa-pie-chart"></i><%= link_to "Mercati", :controller => "markets", :action => "index" %></span>
						</li>
	
						<!--<li>
	                        <a><i class="fa fa-database"></i>Markets status <span class="fa fa-chevron-down"></span></a>
	                        <ul class="nav child_menu markets-status">
	                            <li data-market="mta">
	                                <img class="flag" src="/images/Italy-icon.png" title="Italy flag" alt="MTA" />
									<span class="name">MTA</span>
									<span class="status">&#9679;<span>&dash;</span></span>
	                            </li>                     
	                        </ul>
	                    </li>-->				               
	                </ul>
				<% end %>
								
            </div>
        </div>

    </div>
</div>
