<header class="entry-header page-header">
    <h1 class="entry-title">
    	<%= @stock.name %>
        <small>
        	<%= @stock.last_price %>&euro;&nbsp;/&nbsp;<span class="<%= colorClass(@stock.variation)%>"><%=@stock.variation %>%</span>
    	</small>
    </h1>
    <div class="content">
        <h2>Analisi tecnica e notizie sul titolo: <%= @stock.name %> - <%= @stock.cod %>.MI</h2>
		<p>Rassegna stampa in tempo reale con dati provenienti dai principali media online del settore trading. Lo scopo di questa sezione è fornire <strong>notizie aggiornate</strong> sul titolo in esame, date e valore dei <strong>dividendi</strong> distribuiti, informazioni sui <strong>rating</strong> e ottenere una idea di massima per formulare una corretta <strong>strategia</strong> di trading.</p>
        <p>I riferimenti alla fonte originaria delle informazioni qui riprodotte permettono di accedere alla pagina originaria e approfondire l'analisi.</p>
    </div>
</header>
