<%= form_for(analysis) do |f| %>
  <% if analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
      <% analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isin %>
    <%= f.text_field :isin %>
  </div>

  <div class="field">
    <%= f.label :borsa_italiana_support %>
    <%= f.text_field :borsa_italiana_support %>
  </div>

  <div class="field">
    <%= f.label :borsa_italiana_resistance %>
    <%= f.text_field :borsa_italiana_resistance %>
  </div>

  <div class="field">
    <%= f.label :borsa_italiana_fta %>
    <%= f.text_field :borsa_italiana_fta %>
  </div>

  <div class="field">
    <%= f.label :xxivore_support %>
    <%= f.text_field :xxivore_support %>
  </div>

  <div class="field">
    <%= f.label :xxivore_resistance %>
    <%= f.text_field :xxivore_resistance %>
  </div>

  <div class="field">
    <%= f.label :xxivore_shorttrend %>
    <%= f.text_field :xxivore_shorttrend %>
  </div>

  <div class="field">
    <%= f.label :xxivore_ftaindex %>
    <%= f.text_field :xxivore_ftaindex %>
  </div>

  <div class="field">
    <%= f.label :xxivore_rsi %>
    <%= f.text_field :xxivore_rsi %>
  </div>

  <div class="field">
    <%= f.label :xxivore_rsidiv %>
    <%= f.text_field :xxivore_rsidiv %>
  </div>

  <div class="field">
    <%= f.label :repubblica_support %>
    <%= f.text_field :repubblica_support %>
  </div>

  <div class="field">
    <%= f.label :repubblica_resistance %>
    <%= f.text_field :repubblica_resistance %>
  </div>

  <div class="field">
    <%= f.label :investing_dotcomrating %>
    <%= f.check_box :investing_dotcomrating %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
