<p id="notice"><%= notice %></p>

<p>
  <strong>Isin:</strong>
  <%= @analysis.isin %>
</p>

<p>
  <strong>Borsaitalianasupport:</strong>
  <%= @analysis.borsaItalianaSupport %>
</p>

<p>
  <strong>Borsaitalianaresistance:</strong>
  <%= @analysis.borsaItalianaResistance %>
</p>

<p>
  <strong>Borsaitalianafta:</strong>
  <%= @analysis.borsaItalianaFTA %>
</p>

<p>
  <strong>Xxivoresupport:</strong>
  <%= @analysis.xxivOreSupport %>
</p>

<p>
  <strong>Xxivoreresistance:</strong>
  <%= @analysis.xxivOreResistance %>
</p>

<p>
  <strong>Xxivoreshorttrend:</strong>
  <%= @analysis.xxivOreShortTrend %>
</p>

<p>
  <strong>Xxivoreftaindex:</strong>
  <%= @analysis.xxivOreFTAIndex %>
</p>

<p>
  <strong>Xxivorersi:</strong>
  <%= @analysis.xxivOreRSI %>
</p>

<p>
  <strong>Xxivorersidiv:</strong>
  <%= @analysis.xxivOreRSIDiv %>
</p>

<p>
  <strong>Repubblicasupport:</strong>
  <%= @analysis.repubblicaSupport %>
</p>

<p>
  <strong>Repubblicaresistance:</strong>
  <%= @analysis.repubblicaResistance %>
</p>

<p>
  <strong>Investingdotcomrating:</strong>
  <%= @analysis.investingDotComRating %>
</p>

<%= link_to 'Edit', edit_analysis_path(@analysis) %> |
<%= link_to 'Back', analyses_path %>
