<section id="filters" class="filters">
	
	<header class="page-header">
        <h2 class="entry-title">Titoli filtrati in base alle raccomandazioni dei principali media online</h2>
    </header>
	
    <div class="break-outs">
    	
        <article id="one" class="hp-filter">
	        <h3>Violazioni trendline &quot;Borsa Italiana&quot;</h3>
	        <div class="entry-meta">
	            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
	                <time datetime="<%= $lastUpdate.strftime("%Y-%m-%dT%H:%M") %>">
	                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
	                </time>
	            </div>
	            <div class="cat-links"><i class="fa fa-newspaper-o"></i><small>Fonte:</small>
				
				</div>
	        </div>
		    <div class="entry-content">
		        <div class="filter-content">
		        </div>
		        <div class="filter-info">
		            <p>
		            	La <strong>resistenza</strong> &egrave; un livello di prezzo critico che funge da barriera ad una ulteriore salita delle quotazioni. Pu&ograve; essere il punto di svolta che precede un ritracciamento tecnico verso il basso, ma, se superato, pu&ograve; implicare un deciso rialzo delle quotazioni. <br/><br/>Il <strong>supporto</strong> &egrave; un livello di prezzo critico che funge da barriera ad una ulteriore discesa del prezzo. Pu&ograve; essere il punto di svolta che precede un rimbalzo tecnico verso l&apos;alto, ma se superato pu&ograve; implicare un deciso ribasso delle quotazioni.<br/><br/><i>In <span class="green">verde</span> o <span class="red">rosso</span> i titoli che violano la resistenza o il supporto anche per &quot;Il Sole 24 Ore&quot;.</i>
		            </p>
		        </div>
		    </div>
		    <hr class="section-divider">
		</article>
		
        <article id="two" class="hp-filter">
	        <h3>Violazioni trendline &quot;Il Sole 24 Ore&quot;</h3>
	        <div class="entry-meta">
	            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
	                <time datetime="<%= $lastUpdate.strftime("%Y-%m-%dT%H:%M") %>">
	                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
	                </time>
	            </div>
	            <div class="cat-links"><i class="fa fa-newspaper-o"></i><small>Fonte:</small>
				
				</div>
	        </div>
		    <div class="entry-content">
		        <div class="filter-content">
		        </div>
		        <div class="filter-info">
		            <p>
		            	La <strong>resistenza</strong> &egrave; un livello di prezzo critico che funge da barriera ad una ulteriore salita delle quotazioni. Pu&ograve; essere il punto di svolta che precede un ritracciamento tecnico verso il basso, ma, se superato, pu&ograve; implicare un deciso rialzo delle quotazioni. <br/><br/>Il <strong>supporto</strong> &egrave; un livello di prezzo critico che funge da barriera ad una ulteriore discesa del prezzo. Pu&ograve; essere il punto di svolta che precede un rimbalzo tecnico verso l&apos;alto, ma se superato pu&ograve; implicare un deciso ribasso delle quotazioni.<br/><br/><i>In <span class="green">verde</span> o <span class="red">rosso</span> i titoli che violano la resistenza o il supporto anche per &quot;Borsa Italiana&quot;.</i>
		            </p>
		        </div>
		    </div>
		    <hr class="section-divider">
		</article>
		
    </div>
	
	
    <div class="suggestions">
    	
        <article id="four" class="hp-filter">
	        <h3>Valutazioni da &quot;Milano Finanza&quot;</h3>
	        <div class="entry-meta">
	            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
	                <time datetime="<%= $lastUpdate.strftime("%Y-%m-%dT%H:%M") %>">
	                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
	                </time>
	            </div>
	            <div class="cat-links"><i class="fa fa-newspaper-o"></i><small>Fonte:</small>
				
				</div>
	        </div>
		    <div class="entry-content">
		        <div class="filter-content">
		        </div>
		        <div class="filter-info">
		            <p>
		            	Titoli con &quot;MF Risk&quot; minore di 25 e &quot;MF Rating&quot; con valore almeno B secondo le analisi di &quot;Milano Finanza&quot; <br/><br/> L&apos;indice <strong>MF Risk</strong> di Milano Finanza misura la perdita percentuale massima a cui il titolo in esame pu&ograve; condurre nell&apos;arco di un mese.<br/><br/><strong>MF Rating</strong> &egrave; il rating di appetibilità del titolo azionario. &Egrave; pubblicato da Milano Finanza e intende riassumere la situazione tecnico-quantitativa (rischio-rendimento) di un titolo azionario. I valori vanno da A+ (rating più elevato) a E- (rating più basso).<br/><br/><i>In <span class="bold">evidenza</span> i titoli che sono presenti anche in filtri di questa pagina.</i>
		            </p>
		        </div>
		    </div>
		    <hr class="section-divider">
		</article>
		
        <article id="five" class="hp-filter">
	        <h3>Valutazioni da &quot;Il Sole 24 Ore&quot;</h3>
	        <div class="entry-meta">
	            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
	                <time datetime="<%= $lastUpdate.strftime("%Y-%m-%dT%H:%M") %>">
	                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
	                </time>
	            </div>
	            <div class="cat-links"><i class="fa fa-newspaper-o"></i><small>Fonte:</small>
				
				</div>
	        </div>
		    <div class="entry-content">
		        <div class="filter-content">
		        </div>
		        <div class="filter-info">
		            <p>
		            	Titoli con &quot;Short trend&quot; &quot;Molto rialzista&quot; e &quot;FTA Index&quot; di almeno 50 e &quot;RSI&quot; almeno 75 secondo le analisi de &quot;Il Sole 24 Ore&quot;<br/><br/>Lo <strong>short trend</strong> descrive la tendenza relativa del titolo nelle ultime settimane.<br/><br/>L&apos;<strong>Fta Index</strong> &egrave; un indicatore creato da <i>Financial Trend Analysis</i>, che oscilla tra +100 e -100. Valori superiori a 30 sono indice di un quadro tecnico favorevole, viceversa per valori inferiori a -30.<br/><br/>l&apos;<strong>RSI</strong> &egrave; il valore dell&apos;indice di forza relativa (valori da 0 a 100 e un range di 8 giorni). Un valore nell&apos; intervallo 35-65 &egrave; definito neutrale, sopra i 65 si parla di una condizione di ipercomprato, sotto i 30 si ha, invece, una condizione di ipervenduto.<br/><br/><i>In <span class="bold">evidenza</span> i titoli che sono presenti anche in altri filtri di questa pagina.</i>
		            </p>
		        </div>
		    </div>
		    <hr class="section-divider">
		</article>
		
        <article id="six" class="hp-filter">
	        <h3>Segnale <i>&quot;Compra adesso&quot;</i> da &quot;Investing.com&quot;</h3>
	        <div class="entry-meta">
	            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
	                <time datetime="<%= $lastUpdate.strftime("%Y-%m-%dT%H:%M") %>">
	                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
	                </time>
	            </div>
	            <div class="cat-links"><i class="fa fa-newspaper-o"></i><small>Fonte:</small>
				
				</div>
	        </div>
		    <div class="entry-content">
		        <div class="filter-content">
		        </div>
		        <div class="filter-info">
		            <p>
		            	Titoli azionari con valutazione "Compra ora" nel frame temporale giornaliero e mensile secondo le analisi di &quot;Investing.com&quot;<br/><br/>&quot;Investing.com&quot;, per ogni titolo, pubblica un sommario tecnico suddiviso in frame temporali: <i>5 minuti, ogni ora, giornaliero, mensile</i>. <br/> Per ogni frame viene redatta una valutazione che varia da <i>&quot;Vendi adesso&quot;</i> a <i>&quot;Neutrale&quot;</i> fino a <i>&quot;Compra adesso&quot;</i>.<br/><br/><i>In <span class="bold">evidenza</span> i titoli che sono presenti anche in altri filtri di questa pagina.</i> 
		            </p>
		        </div>
		    </div>
		    <hr class="section-divider">
		</article>
		
    </div>
	
	<% if $isLogged%>
	
		<header class="page-header">
	        <h2 class="entry-title">Titoli filtrati in base ai livelli da te impostati</h2>
	    </header>
	
		<div class="personals">
			<article id="seven" class="hp-filter">
		        <h3>Violazioni della trendline secondo le analisi personali</h3>
		        <div class="entry-meta">
		            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
		                <time datetime="<%= $lastUpdate.strftime("%Y-%m-%dT%H:%M") %>">
		                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
		                </time>
		            </div>
		        </div>
			    <div class="entry-content">
			        <div class="filter-content">
			        </div>
			        <div class="filter-info">
			            <p>
			            	Titoli che violano la trendline secondo le tue analisi inserite in questo sito.
			            </p>
			        </div>
			    </div>
			    <hr class="section-divider">
			</article>
		</div>
	<% end%>
	
</section>