<section class="markets">
	
	<header class="page-header">
	    <h2 class="entry-title">I mercati</h2>
	</header>
	
	<div class="widget tabbed">
	    <div class="tabs-wrapper">
	        <ul class="nav nav-tabs">
	            <li class="active">
	                <a href="#markets" data-toggle="tab" title="Quotazioni principali mercati azionari">Mercati</a>
	            </li>
	            <li>
	                <a href="#raw-materials" data-toggle="tab" title="Quotazioni delle principali materie prime">Materie prime</a>
	            </li>
	            <li>
	                <a href="#currencies" data-toggle="tab" title="Quotazioni delle principali valute internazionali">Valute</a>
	            </li>
	        </ul>
	        <div class="tab-content">
	            <ul id="markets" class="tab-pane active">
	                <% @firstRowMarkets.each do |market| %>
	                <li title="<%=market.name%>">
	                    <%= image_tag(@marketsFlagMap[market.name] + ".png", size: "60x60", alt: "Bandiera", class: "tab-thumb thumbnail") %>
	                    <div class="content">
	                        <%= market.name %>
	                        <div>
	                            <i><%= market.value %><br/><span class="variation <%= colorClass(market.variation) %>"><%= market.variation %>%</span></i>
	                        </div>
	                    </div>
	                </li>
	                <% end %>
	            </ul>
	            <ul id="raw-materials" class="tab-pane">
	                <% @secondRowMarkets.each do |market| %>
	                <li title="<%=market.name%>">
	                    <%= image_tag(@marketsFlagMap[market.name] + ".png", size: "60x60", alt: "Materia prima", class: "tab-thumb thumbnail") %>
	                    <div class="content">
	                        <%= market.name %>
	                        <div>
	                            <i><%= market.value %><br/><span class="variation <%= colorClass(market.variation) %>"><%= market.variation %>%</span></i>
	                        </div>
	                    </div>
	                </li>
	                <% end %>
	            </ul>
	            <ul id="currencies" class="tab-pane">
	                <% @thirdRowMarkets.each do |market| %>
	                <li title="<%=market.name%>">
	                    <%= image_tag(@marketsFlagMap[market.name] + ".png", size: "60x60", alt: "Valuta", class: "tab-thumb thumbnail") %>
	                    <div class="content">
	                        <%= market.name %>
	                        <div>
	                            <i><%= market.value %><br/><span class="variation <%= colorClass(market.variation) %>"><%= market.variation %>%</span></i>
	                        </div>
	                    </div>
	                </li>
	                <% end %>
	            </ul>
	        </div>
	    </div>
	</div>
</section>
