<section class="stocks">
	<header class="entry-header page-header">
		<h2 class="entry-title">Rassegna stampa sui titoli del FTSE MIB ITALIA</h2>
	</header>
	
	<div id="search-by-name" class="section">
		<h3>Cerca azioni per iniziale</h3>
		<div>
			<%= link_to 'A', {controller: "welcome", alpha: 'A'}, class: "#{'current' if @alphaQuery == 'A'}" %>
			<%= link_to 'B', {controller: "welcome", alpha: 'B'}, class: "#{'current' if @alphaQuery == 'B'}" %>
			<%= link_to 'C', {controller: "welcome", alpha: 'C'}, class: "#{'current' if @alphaQuery == 'C'}" %>
			<%= link_to 'D', {controller: "welcome", alpha: 'D'}, class: "disabled #{'current' if @alphaQuery == 'D'}" %>
			<%= link_to 'E', {controller: "welcome", alpha: 'E'}, class: "#{'current' if @alphaQuery == 'E'}" %>
			<%= link_to 'F', {controller: "welcome", alpha: 'F'}, class: "#{'current' if @alphaQuery == 'F'}" %>
			<%= link_to 'G', {controller: "welcome", alpha: 'G'}, class: "#{'current' if @alphaQuery == 'G'}" %>
			<%= link_to 'H', {controller: "welcome", alpha: 'H'}, class: "disabled #{'current' if @alphaQuery == 'H'}" %>
			<%= link_to 'I', {controller: "welcome", alpha: 'I'}, class: "#{'current' if @alphaQuery == 'I'}" %>
			<%= link_to 'J', {controller: "welcome", alpha: 'J'}, class: "disabled #{'current' if @alphaQuery == 'J'}" %>
			<%= link_to 'L', {controller: "welcome", alpha: 'L'}, class: "#{'current' if @alphaQuery == 'L'}" %>
			<%= link_to 'M', {controller: "welcome", alpha: 'M'}, class: "#{'current' if @alphaQuery == 'M'}" %>
			<%= link_to 'N', {controller: "welcome", alpha: 'N'}, class: "disabled #{'current' if @alphaQuery == 'N'}" %>
			<%= link_to 'O', {controller: "welcome", alpha: 'O'}, class: "disabled #{'current' if @alphaQuery == 'O'}" %>
			<%= link_to 'P', {controller: "welcome", alpha: 'P'}, class: "#{'current' if @alphaQuery == 'P'}" %>
			<%= link_to 'Q', {controller: "welcome", alpha: 'Q'}, class: "disabled #{'current' if @alphaQuery == 'Q'}" %>
			<%= link_to 'R', {controller: "welcome", alpha: 'R'}, class: "#{'current' if @alphaQuery == 'R'}" %>
			<%= link_to 'S', {controller: "welcome", alpha: 'S'}, class: "#{'current' if @alphaQuery == 'S'}" %>
			<%= link_to 'T', {controller: "welcome", alpha: 'T'}, class: "#{'current' if @alphaQuery == 'T'}" %>
			<%= link_to 'U', {controller: "welcome", alpha: 'U'}, class: "#{'current' if @alphaQuery == 'U'}" %>
			<%= link_to 'V', {controller: "welcome", alpha: 'V'}, class: "disabled #{'current' if @alphaQuery == 'V'}" %>
			<%= link_to 'W', {controller: "welcome", alpha: 'W'}, class: "disabled #{'current' if @alphaQuery == 'W'}" %>
			<%= link_to 'X', {controller: "welcome", alpha: 'X'}, class: "disabled #{'current' if @alphaQuery == 'X'}" %>
			<%= link_to 'Y', {controller: "welcome", alpha: 'Y'}, class: "#{'current' if @alphaQuery == 'Y'}" %>
			<%= link_to 'Z', {controller: "welcome", alpha: 'Z'}, class: "disabled #{'current' if @alphaQuery == 'Z'}" %>
		</div>
	</div>
	
	
	<div id="search-by-input" class="section">
		<h3>Cerca azioni per nome</h3>
		<%= form_tag(welcome_index_path, :method => "get", id: "search-form") do %>
		  <p>
		    <%= text_field_tag :search, params[:search], placeholder: 'Nome titolo', value: @searchQuery %>
		    <%= submit_tag "Cerca", :name => nil %>
		  </p>
		<% end %>
	</div>
	
	<% if @stocks %>
		<div id="stock-table_wrapper">
		    <table id="stock-table" class="table table-striped table-bordered no-footer">
		        <thead>
		            <tr>
		                <th>
		                    Nome
		                </th>
		                <th>
		                    Settore
		                </th>
		                <th>
		                    Ultimo prezzo
		                </th>
		                <th>
		                    Variazione
		                </th>
		                <th>
		                    Ultimo aggiornamento
		                </th>
		                <th>
		                    Fase di mercato
		                </th>
		                <%if $user.present? %>
		                <th>
		                    Analisi personale
		                </th>
		                <%end %>
		            </tr>
		        </thead>
		        <tbody>
		            <% @stocks.each do |stock| %>
		            <tr class="<%= cycle('even', 'odd') -%>">
		                <td class="stock-name">
							<a href="<%= '/analisi_tecnica_titolo/' + stock.name.downcase.gsub("-", "_").parameterize('_') + '?isin=' +  stock.isin %>" title="<%= 'Analisi tecnica e rassegna stampa in tempo reale del titolo: ' + stock.name %>"><%= stock.name %></a>
		                </td>
		                <td>
		                    <%= stock.sector %>
		                </td>
		                <td>
		                    <%= stock.last_price %>
		                </td>
		                <td class="<%= colorClass(stock.variation) %>">
		                    <%= stock.variation %>
		                </td>
		                <td>
		                    <%= stock.updated_at.strftime("%d/%m - %H:%M") %>
		                </td>
		                <td>
		                    <%= stock.market_phase %>
		                </td>
		                <%if $user.present? %>
		                <td>
		                    <%= link_to 'Vedi/aggiungi analisi', study_page_index_path(isin: stock.isin) %>
		                </td>
		            	<%end %>
		            </tr>
		            <% end %>
		        </tbody>
		    </table>
		</div>
	<% end %>
</section>
