<% title $appDescription + ' | Home ' %>
<% meta_tag :description, 'Trading Radar - Analisi, suggerimenti di acquisto e vendita, notizie sui titoli azionari del Mercato Italiano' %>
<% meta_tag :keywords, 'analisi, spunti, suggerimenti, trading, acquisto, vendita, notizie, rassegna, stampa, mercato, italiano, MTA, FTSE, MIB' %>
<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>


<div class="top-section">  
	<div>
	    <ul>
	        <li>
				<%= image_tag("front-image.jpg", size: "1920x430", alt: "Borsa italiana a Milano - Entrata principale") %>
	            <div class="flex-caption">
	                <h2 class="entry-title">Analisi, notizie e suggerimenti di trading per il mercato italiano</h2>
	                <div class="excerpt">
	                    Titoli azionari Italia FTSE MIB e situazione Mercati internazionali. I dati provengono da Borsa Italiana, Il Sole 24 Ore, La Repubblica, Milano Finanza, Investing.com e sono aggiornati ad intervalli regolari. 
	                    Cliccando sul nome di un titolo è possibile visualizzare una rassegna stampa con analisi ottenute in tempo reale da diverse fonti web. 
	                    In basso, una serie di filtri evidenziano dei suggerimenti e spunti di acquisto o vendita sui titoli di maggiore interesse e i parametri con i quali sono stati selezionati.
	                </div>
	            </div>
	        </li>
	    </ul>
	</div>
</div>
			
		
<main id="main" class="site-main " role="main">
    <div id="content" class="site-content container">
	    <div class="container main-content-area">
	        <div class="row pull-left">
	        	
	            <section id="primary" class="widget-area col-sm-12" role="complementary">
	                <section class="col-md-9">
	                    <%= render("stocks") %>
	                </section>
	                <section class="col-md-3">
	                    <%= render :partial => "markets", :object => @markets %>
	                    <%= render :partial => "filtersAnchorsInHP", :object => @markets %>
	                </section>
	            </section>
				
	            <section id="secondary" class="content-area col-sm-12">
	                <section class="filters">
	                    <section class="break-outs">
	                        <%= render 'filter', { :id => 'one' } %>
	                        <%= render 'filter', { :id => 'two' } %>
	                        <%= render 'filter', { :id => 'three' } %>
	                    </section>
	                    <section class="suggestions">
	                        <%= render 'filter', { :id => 'four' } %>
	                        <%= render 'filter', { :id => 'five' } %>
	                        <%= render 'filter', { :id => 'six' } %>
	                    </section>
	                    <section class="personals">
	                        <%= render 'filter', { :id => 'seven' } %>
	                        <%= render 'filter', { :id => 'eight' } %>
	                        <%= render 'filter', { :id => 'nine' } %>
	                    </section>
	                </section>
	            </section>
				
	            <section class="section">
	                <div class="keywords">
	                    Keywords: <%= yield_meta_tag(:keywords) %>
	                </div>
	            </section>
				
	        </div>
	    </div>
    </div>
</main>