<% title 'Home' %>
<% meta_tag :description, '' %>
<% meta_tag :keywords, '' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>


<div class="container body">
    <div class="main_container">
        <%= render("shared/left_col") %>
        <%= render("shared/top_nav") %>
        <div class="right_col" role="main"">
		
			<div class="warning"><i class="fa fa-warning"></i>Attention: stocks and markets data are not real time.</div>
			
            <%= render("markets") %>
			
			<%= render("stocks") %>
            
            <%= render("filters") %>
        </div>
        <%= render("shared/footer") %>
    </div>
</div>
