<%= form_for(study) do |f| %>
  <% if study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resistance %>
    <%= f.text_field :resistance %>
  </div>

  <div class="field">
    <%= f.label :support %>
    <%= f.text_field :support %>
  </div>

  <div class="field">
    <%= f.label :direction %>
    <%= f.text_field :direction %>
  </div>

  <div class="field">
    <%= f.label :mmp1 %>
    <%= f.text_field :mmp1 %>
  </div>

  <div class="field">
    <%= f.label :mmp2 %>
    <%= f.text_field :mmp2 %>
  </div>

  <div class="field">
    <%= f.label :gap %>
    <%= f.text_field :gap %>
  </div>

  <div class="field">
    <%= f.label :trading_position %>
    <%= f.text_field :trading_position %>
  </div>

  <div class="field">
    <%= f.label :reversal_chart_pattern %>
    <%= f.text_field :reversal_chart_pattern %>
  </div>

  <div class="field">
    <%= f.label :continuation_chart_pattern %>
    <%= f.text_field :continuation_chart_pattern %>
  </div>

  <div class="field">
    <%= f.label :reversal_candlestick %>
    <%= f.text_field :reversal_candlestick %>
  </div>

  <div class="field">
    <%= f.label :continuation_candlestick %>
    <%= f.text_field :continuation_candlestick %>
  </div>

  <div class="field">
    <%= f.label :rsi %>
    <%= f.text_field :rsi %>
  </div>

  <div class="field">
    <%= f.label :rsi_cross %>
    <%= f.text_field :rsi_cross %>
  </div>

  <div class="field">
    <%= f.label :rsi_divergence %>
    <%= f.text_field :rsi_divergence %>
  </div>

  <div class="field">
    <%= f.label :stoch %>
    <%= f.text_field :stoch %>
  </div>

  <div class="field">
    <%= f.label :stoch_cross %>
    <%= f.text_field :stoch_cross %>
  </div>

  <div class="field">
    <%= f.label :stoch_divergence %>
    <%= f.text_field :stoch_divergence %>
  </div>

  <div class="field">
    <%= f.label :macd %>
    <%= f.text_field :macd %>
  </div>

  <div class="field">
    <%= f.label :macd_cross %>
    <%= f.text_field :macd_cross %>
  </div>

  <div class="field">
    <%= f.label :buy %>
    <%= f.text_field :buy %>
  </div>

  <div class="field">
    <%= f.label :sell %>
    <%= f.text_field :sell %>
  </div>

  <div class="field">
    <%= f.label :stop_loss %>
    <%= f.text_field :stop_loss %>
  </div>

  <div class="field">
    <%= f.label :image_usrl %>
    <%= f.text_field :image_usrl %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :stock_id %>
    <%= f.text_field :stock_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
