<p id="notice"><%= notice %></p>

<p>
  <strong>Resistance:</strong>
  <%= @study.resistance %>
</p>

<p>
  <strong>Support:</strong>
  <%= @study.support %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @study.direction %>
</p>

<p>
  <strong>Mmp1:</strong>
  <%= @study.mmp1 %>
</p>

<p>
  <strong>Mmp2:</strong>
  <%= @study.mmp2 %>
</p>

<p>
  <strong>Gap:</strong>
  <%= @study.gap %>
</p>

<p>
  <strong>Tradingposition:</strong>
  <%= @study.tradingPosition %>
</p>

<p>
  <strong>Reversalchartpattern:</strong>
  <%= @study.reversalChartPattern %>
</p>

<p>
  <strong>Continuationchartpattern:</strong>
  <%= @study.continuationChartPattern %>
</p>

<p>
  <strong>Reversalcandlestick:</strong>
  <%= @study.reversalCandlestick %>
</p>

<p>
  <strong>Continuationcandlestick:</strong>
  <%= @study.continuationCandlestick %>
</p>

<p>
  <strong>Rsi:</strong>
  <%= @study.rsi %>
</p>

<p>
  <strong>Rsicross:</strong>
  <%= @study.rsiCross %>
</p>

<p>
  <strong>Rsidivergence:</strong>
  <%= @study.rsiDivergence %>
</p>

<p>
  <strong>Stoch:</strong>
  <%= @study.stoch %>
</p>

<p>
  <strong>Stochcross:</strong>
  <%= @study.stochCross %>
</p>

<p>
  <strong>Stochdivergence:</strong>
  <%= @study.stochDivergence %>
</p>

<p>
  <strong>Macd:</strong>
  <%= @study.macd %>
</p>

<p>
  <strong>Macdcross:</strong>
  <%= @study.macdCross %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @study.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @study.sell %>
</p>

<p>
  <strong>Stoploss:</strong>
  <%= @study.stopLoss %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @study.imageUrl %>
</p>

<p>
  <strong>Note:</strong>
  <%= @study.note %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @study.stock %>
</p>

<p>
  <strong>User:</strong>
  <%= @study.user %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
