<% title @post.stock + ': analisi, strategie e segnali di acquisto' %>
<% meta_tag :description, 'Analisi tecnica e strategie operative per il titolo: ' + @post.stock %>
<% meta_tag :keywords, @post.stock + ', analisi, tecnica, strategie, segnali, azioni, Borsa, Italiana, Milano' %>

<% meta_tag :ogtitle, @post.stock + ': analisi, strategie e segnali di acquisto' %>
<% meta_tag :ogdescription, 'Analisi tecnica e strategie operative per il titolo: ' + @post.stock + ' - Milano MTA'%>
<% meta_tag :ogimage, request.base_url + '/images/logos/' + @post.stock.downcase + '.png' %>


<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>

<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	 

                <div class="row">
			        <div class="breadcrumbs col-sm-12">
                        <%= link_to welcome_index_path do %>
				            <i class="fa fa-chevron-left" aria-hidden="true"></i>Torna in Home page
				        <% end %>
				    </div>
		        </div>                
                
                <h2 class="text-center"><%= @post.title %></h2>
                <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
                <div><%= raw(@post.body) %></div>

                <div class="text-center">
                    <%= link_to "Vedi tutti i post", posts_path, class: "btn btn-primary" %>
                    <% if $isAdmin %>
                        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
                        <%= link_to "Delete", post_path(@post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
                    <% end %>
                </div>
            
            </section>
        </div>
	</div>
</main>
