<% title @post.stock + ': analisi, strategie e segnali di acquisto' %>
<% meta_tag :description, 'Analisi tecnica e strategie operative per il titolo: ' + @post.stock %>
<% meta_tag :keywords, @post.stock + ', analisi, tecnica, strategie, segnali, azioni, Borsa, Italiana, Milano' %>

<% meta_tag :ogtitle, @post.stock + ': analisi, strategie e segnali di acquisto' %>
<% meta_tag :ogdescription, 'Analisi tecnica e strategie operative per il titolo: ' + @post.stock + ' - Milano MTA'%>
<% meta_tag :ogimage, request.base_url + '/images/logos/' + @post.stock.downcase + '.png' %>


<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>

<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	 

                <div class="row">
			        <div class="breadcrumbs col-sm-12">
                        <%= link_to welcome_index_path do %>
				            <i class="fa fa-chevron-left" aria-hidden="true"></i>Torna in Home page
				        <% end %>
				    </div>
		        </div>                
                
                <h2 class="text-center"><%= @post.title %></h2>
                <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
                <div><%= raw(@post.body) %></div>


				<% if @nextPost != nil %>
					<div class="post-next">
						<%= link_to controller: "posts", action: "show", id: @nextPost.id, data: { turbolinks: false } do %>
					    	<i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Post successivo: <%= @nextPost.title %>
						<% end %>
					</div>					
				<% end %>

				<% if @prevPost != nil %>				
					<div class="post-prev">
						<%= link_to controller: "posts", action: "show", id: @prevPost.id, data: { turbolinks: false } do %>
					    	Post precedente: <%= @prevPost.title %>&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
						<% end %>
					</div>
				<% end %>	
				
				<div class="clear"></div>
				
				<div class="text-center">
                    <%= link_to "Vedi tutti i post", posts_path, class: "btn btn-primary" %>
                    <% if $isAdmin %>
                        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
                        <%= link_to "Delete", post_path(@post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
                    <% end %>
                </div>			
            
            </section>
			
			
			<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">              
			      <div class="modal-body">
			      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <img src="" class="imagepreview" style="width: 100%;" >
			      </div>
			    </div>
			  </div>
			</div>
			
			
			<div id="fb-root"></div>


        </div>
	</div>
</main>
