<h2>Suggestions from <img src="/images/il-sole-24-ore-logo.png" title="Il Sole 24 Ore" alt="Logo Il Sole 24 Ore" class="img-logo-small" /></h2>

<%if !@suggestionsFromSole24Ore.nil? %>
<table class="tablesorter">
	<caption>Il Sole 24 Ore</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Last price
            </th>
			<th>
                Short Trend
            </th>
			<th>
                FTA Index
            </th>
			<th>
                RSI
            </th>			
        </tr>
    </thead>
    <tbody>
        <% @suggestionsFromSole24Ore.each do |stock| %>
        <tr class="<%= cycle('even', 'odd') -%>">
            <td>
                
				<%= link_to "#{stock['name']}", stock_page_index_path(isin: "#{stock['isin']}") %>
            </td>
            <td>
                <%= "#{stock['last_price']}" %>
            </td>
			<td>
                <%= "#{stock['xxivore_shorttrend']}" %>
            </td>
			<td>
                <%= "#{stock['xxivore_ftaindex']}" %>
            </td>
			<td>
                <%= "#{stock['xxivore_rsi']}" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
	<table class="tablesorter">
		<tbody>
			<tr>
				<td span="5">
					No data
				</td>
			</tr>
		</tbody>
	</table>
<% end %>
