<h2>Over limits studies (update needed)</h2>

<%if !@overResistanceStocksOnStudy.nil? %>
	<table class="tablesorter">
		<caption>Resistance breakout</caption>
	    <thead>
	        <tr>
	            <th>
	                Name
	            </th>
	            <th>
	                Last price
	            </th>
				<th>
	                Resistance
	            </th>			
	        </tr>
	    </thead>
	    <tbody>
	        <% @overResistanceStocksOnStudy.each do |stock| %>
	        <tr class="<%= cycle('even', 'odd') -%>">
	            <td>
	                
					<%= link_to "#{stock['name']}", stock_page_index_path(isin: "#{stock['isin']}") %>
	            </td>
	            <td>
	                <%= "#{stock['last_price']}" %>
	            </td>
				<td>
	                <%= "#{stock['resistance']}" %>
	            </td>
	        </tr>
	        <% end %>
	    </tbody>
	</table>
<% else %>
	<table class="tablesorter">
		<tbody>
			<tr>
				<td span="5">
					No data
				</td>
			</tr>
		</tbody>
	</table>
<% end %>


<%if !@belowSupportStocksOnStudy.nil? %>
	<table class="tablesorter">
		<caption>Support breakout</caption>
	    <thead>
	        <tr>
	            <th>
	                Name
	            </th>
	            <th>
	                Last price
	            </th>
				<th>
	                Support
	            </th>		
	        </tr>
	    </thead>
	    <tbody>
	        <% @belowSupportStocksOnStudy.each do |stock| %>
	        <tr class="<%= cycle('even', 'odd') -%>">
	            <td>
	                
					<%= link_to "#{stock['name']}", stock_page_index_path(isin: "#{stock['isin']}") %>
	            </td>
	            <td>
	                <%= "#{stock['last_price']}" %>
	            </td>
				<td>
	                <%= "#{stock['support']}" %>
	            </td>
	        </tr>
	        <% end %>
	    </tbody>
	</table>
<% else %>
	<table class="tablesorter">
		<tbody>
			<tr>
				<td span="5">
					No data
				</td>
			</tr>
		</tbody>
	</table>
<% end %>
