<div class="anchors">
    <div class="anchor-link">
        <a href="#borsa-italiana" data-turbolinks="false"><img data-refers="borsa-italiana" src="/images/borsa-italiana-logo-small.png" title="Vai alla analisi titolo <%=@stock.name%> di Borsa Italiana" alt="Vai alla analisi titolo <%=@stock.name%> di Borsa Italiana" /></a>
    </div>
    <div class="anchor-link">
        <a href="#il-sole-24-ore" data-turbolinks="false"><img data-refers="il-sole-24-ore" src="/images/il-sole-24-ore-logo-small.png" title="Vai alla analisi titolo <%=@stock.name%> de Il Sole 24 Ore" alt="Vai alla analisi titolo <%=@stock.name%> de Il Sole 24 Ore" /></a>
    </div>
    <div class="anchor-link">
        <a href="#la-repubblica" data-turbolinks="false"><img data-refers="la-repubblica" src="/images/la-repubblica-logo-small.png" title="Vai alla analisi titolo <%=@stock.name%> de La Repubblica" alt="Vai alla analisi titolo <%=@stock.name%> de La Repubblica" /></a>
    </div>
    <div class="anchor-link">
        <a href="#investing" data-turbolinks="false"><img data-refers="investing" src="/images/investing-logo-small.png" title="Vai alla analisi titolo <%=@stock.name%> di Investing" alt="Vai alla analisi titolo <%=@stock.name%> di Investing" /></a>
    </div>
    <div class="anchor-link">
        <a href="#milano-finanza" data-turbolinks="false"><img data-refers="milano-finanza" src="/images/milano-finanza-logo-small.png" title="Vai alla analisi titolo <%=@stock.name%> di Milano Finanza" alt="Vai alla analisi titolo <%=@stock.name%> di Milano Finanza" /></a>
    </div>
    <div class="anchor-link">
        <a href="#soldi-on-line" data-turbolinks="false"><img data-refers="soldi-on-line" src="/images/soldi-on-line-logo-small.png" title="Vai alla analisi titolo <%=@stock.name%> di Soldi On Line" alt="Vai alla analisi titolo <%=@stock.name%> di Soldi On Line" /></a>
    </div>
</div>