<!DOCTYPE html>
<html lang="it-IT">
    <head>
    	
		<title>
		  <%= if content_for?(:title) then yield(:title) + ' | ' end %><%= $appName %>
		</title>
		
        <%= csrf_meta_tags %>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name='description' content='<%= yield_meta_tag(:description, $appDescription) %>' /> 
		<meta name='keywords' content='<%= yield_meta_tag(:keywords, 'trading, titolo, milano, finanza, borsa, online, valutazioni, segnali, acquisto, vendita') %>' />
		<meta name='author' content='<%= yield_meta_tag(:author, $author) %>' />
		<meta name='robots' content='<%= yield_meta_tag(:robots, 'index, follow') %>' />
		
		<meta name="msvalidate.01" content="45EB28F9F855ED4A3A9904BC410CD169" />
		<meta name="google-site-verification" content="hl74Eak8YodPVXxEm6CpfxpYUWsdNTIiW4FGPEUIKE8" />	
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="canonical" href="<%= yield_meta_tag(:canonical, request.base_url + '/' + controller_name) %>" />
		
		<meta property="og:locale" content="it_IT" />
	    <meta property="og:type" content="website" />
	    <meta property="og:title" content='<%= yield_meta_tag(:ogtitle, $appName) %>' />
	    <meta property="og:description" content="<%= yield_meta_tag(:ogdescription, $appDescription) %>" />
	    <meta property="og:url" content="<%= request.original_url %>" />
		<meta property="og:image" content="<%= yield_meta_tag(:ogimage, request.base_url + '/images/trading-radar-logo.png') %>" />
	    <meta property="og:site_name" content="<%= $appName %>" />

		<%= favicon_link_tag 'favicon.ico' %>
            
	    <link rel='stylesheet' href='https://cdn.colorlib.com/dazzling/wp-content/themes/dazzling/inc/css/font-awesome.min.css' type='text/css' media='all' />

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        			
	
    </head>
	
    <body>
    		
		
		<div id="main-wrapper" class="<%= controller.controller_name %>">
			<%= render("shared/navigation") %> 
			
	        <%= yield %>
			
			<%= render("shared/footer") %> 
			
			<input id="pageData" type="hidden" data-isin="<%= params[:isin] ? params[:isin] : '' %>" data-user="<%= $user %>" data-isadmin="<%= $isAdmin %>" data-islogged="<%= $isLogged %>"/>			
	    </div> 
		
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109143172-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-109143172-1');
		</script>
		

		<!-- Start of StatCounter Code for old browsers -->
		<noscript><div class="statcounter"><a title="free web stats"
		href="http://statcounter.com/" target="_blank"><img
		class="statcounter"
		src="//c.statcounter.com/11043457/0/9f87886c/0/" alt="free
		web stats"></a></div></noscript>
		<!-- End of StatCounter Code for old browsers -->
		
		<!-- Microdata -->
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org/",
		  "@type": "WebSite",
		  "name": "Trading Radar",
		  "url": "http://www.tradingradar.net",
		  "potentialAction": {
		    "@type": "SearchAction",
		    "target": "http://www.tradingradar.net/?utf8=%E2%9C%93&search={search_term_string}",
		    "query-input": "required name=search_term_string"
		  }
		}
		</script>
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org/",
		  "@type": "Person",
		  "name": "Marco Pavan",
		  "url": "http://www.marcopavan.org/",
		  "image": "http://www.marcopavan.org/images/Profile_Image.jpg",
		  "sameAs": "https://www.facebook.com/marco.zamolopavan",
		  "jobTitle": "Web developer",
		  "birthDate": "07/12/1980",
		  "birthPlace": "Udine",
		  "email": "marcopavan.mp@gmail.com"
		}
		</script>
		
		   
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		

    </body>
</html>
