<!DOCTYPE html>
<html>
    <head>
        <title>Agenda Trading 1.0</title>
        <%= csrf_meta_tags %>
        <meta name="keywords" content="comma, separated, keywords">
        <meta name="description" content="A description of this project.">
        <meta name="author" content="Marco Pavan - marcopavan.mp@gmail.com">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="nav-md" id="<%= controller.controller_name %>">
        <div id="main-wrapper">
            <!-- <div class="header">
            <div class="container">
            <%= link_to root_path do %>
            <img src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/fotofoto-logo.svg" width="80" height="80">
            <% end %>
            <div class="nav pull-right">
            <% if current_user %>
            <ul>
            <li><%= current_user.email %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
            <% else %>
            <ul>
            <li><%= link_to "Login", 'login' %></a></li>
            <li><%= link_to "Signup", 'signup' %></a></li>
            </ul>
            <% end %>
            </div>
            </div>
            </div>-->
            <%= yield %>
        </div>
        <script>
            var sample_data = {﻿
                ae:"239.65",
                af:"16.63",
                ag:"1.1",
                al:"11.58",
                am:"8.83",
                ao:"85.81",
                ar:"351.02",
                at:"366.26",
                au:"1219.72",
                az:"52.17",
                ba:"16.2",
                bb:"3.96",
                bd:"105.4",
                be:"461.33",
                bf:"8.67",
                bg:"44.84",
                bh:"21.73",
                bi:"1.47",
                bj:"6.49",
                bn:"11.96",
                bo:"19.18",
                br:"2023.53",
                bs:"7.54",
                bt:"1.4",
                bw:"12.5",
                by:"52.89",
                bz:"1.43",
                ca:"1563.66",
                cd:"12.6",
                cf:"2.11",
                cg:"11.88",
                ch:"522.44",
                ci:"22.38",
                cl:"199.18",
                cm:"21.88",
                cn:"5745.13",
                co:"283.11",
                cr:"35.02",
                cv:"1.57",
                cy:"22.75",
                cz:"195.23",
                de:"3305.9",
                dj:"1.14",
                dk:"304.56",
                dm:"0.38",
                do:"50.87",
                dz:"158.97",
                ec:"61.49",
                ee:"19.22",
                eg:"216.83",
                er:"2.25",
                es:"1374.78",
                et:"30.94",
                fi:"231.98",
                fj:"3.15",
                fr:"2555.44",
                ga:"12.56",
                gb:"2258.57",
                gd:"0.65",
                ge:"11.23",
                gh:"18.06",
                gm:"1.04",
                gn:"4.34",
                gq:"14.55",
                gr:"305.01",
                gt:"40.77",
                gw:"0.83",
                gy:"2.2",
                hk:"226.49",
                hn:"15.34",
                hr:"59.92",
                ht:"6.5",
                hu:"132.28",
                id:"695.06",
                ie:"204.14",
                il:"201.25",
                in:"1430.02",
                iq:"84.14",
                ir:"337.9",
                is:"12.77",
                it:"2036.69",
                jm:"13.74",
                jo:"27.13",
                jp:"5390.9",
                ke:"32.42",
                kg:"4.44",
                kh:"11.36",
                ki:"0.15",
                km:"0.56",
                kn:"0.56",
                kr:"986.26",
                kw:"117.32",
                kz:"129.76",
                la:"6.34",
                lb:"39.15",
                lc:"1",
                lk:"48.24",
                lr:"0.98",
                ls:"1.8",
                lt:"35.73",
                lu:"52.43",
                lv:"23.39",
                ly:"77.91",
                ma:"91.7",
                md:"5.36",
                me:"3.88",
                mg:"8.33",
                mk:"9.58",
                ml:"9.08",
                mm:"35.65",
                mn:"5.81",
                mr:"3.49",
                mt:"7.8",
                mu:"9.43",
                mv:"1.43",
                mw:"5.04",
                mx:"1004.04",
                my:"218.95",
                mz:"10.21",
                na:"11.45",
                ne:"5.6",
                ng:"206.66",
                ni:"6.38",
                nl:"770.31",
                no:"413.51",
                np:"15.11",
                nz:"138",
                om:"53.78",
                pa:"27.2",
                pe:"153.55",
                pg:"8.81",
                ph:"189.06",
                pk:"174.79",
                pl:"438.88",
                pt:"223.7",
                py:"17.17",
                qa:"126.52",
                ro:"158.39",
                rs:"38.92",
                ru:"1476.91",
                rw:"5.69",
                sa:"434.44",
                sb:"0.67",
                sc:"0.92",
                sd:"65.93",
                se:"444.59",
                sg:"217.38",
                si:"46.44",
                sk:"86.26",
                sl:"1.9",
                sn:"12.66",
                sr:"3.3",
                st:"0.19",
                sv:"21.8",
                sy:"59.63",
                sz:"3.17",
                td:"7.59",
                tg:"3.07",
                th:"312.61",
                tj:"5.58",
                tl:"0.62",
                tm:0,
                tn:"43.86",
                to:"0.3",
                tr:"729.05",
                tt:"21.2",
                tw:"426.98",
                tz:"22.43",
                ua:"136.56",
                ug:"17.12",
                undefined:"5.73",
                us:"14624.18",
                uy:"40.71",
                uz:"37.72",
                vc:"0.58",
                ve:"285.21",
                vn:"101.99",
                vu:"0.72",
                ws:"0.55",
                ye:"30.02",
                za:"354.41",
                zm:"15.69",
                zw:"5.57",
            }
        </script>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
